.env
__pycache__/
*.pyc
*.pyo
.venv/
venv/
airflow.db
airflow.cfg
airflow_settings.yaml
webserver_config.py
airflow-webserver.pid
logs/
airflow/logs/

target/
dbt_packages/
.ipynb_checkpoints/
*.ipynb
.vscode/
.idea/
.DS_Store
Thumbs.db
dev.ipynb